<!DOCTYPE html>
<html>
<head>
    <title>404 Not Found</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, use-scalable=0"/>
    <link rel="stylesheet" href="css/img.css">
    <style>
    </style>
</head>
<body class="bac">
<div class="container">
    <img class="image" src="/images/Astonishment_lithograph_by_Thomas_Fairland_1870s-short.png">
    <div class="top-left">404 Not Found</div>
    <div class="bottom-right">
        <div class="bottom-sub">Astonishment</div>
        <div class="bottom-sub">Thomas Fairland</div>
        <div class="bottom-sub">1870</div>
    </div>
</div>
</body>
<html>
