.bac {
  background-color: #ffffff;
  opacity: 90%;
  margin: 0px;
}

.container {
  text-align: center;
  height: 100%;
}

.image {
    height:100vh;
      animation-name: soft-show;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
}
@keyframes soft-show {
  from {opacity: 40%;}
  to {opacity: 100%;}
}

.top-left {
  position: absolute;
  top: 2%;
  left: 2%;
  font-size: x-large;
  font-family: arial;
}

.bottom-right {
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: large;
  font-family: arial;
}
.bottom-sub {
  text-align: right;
}